<div id="2002" class="section mt-5">
  <div class="px-3">
    <div class="theme-container">
      <h1 class="section-title">{{ "ABOUT.TITLE_1" | translate }}</h1>
      <p class="section-desc text-muted">
        {{ "ABOUT.TITLE_2" | translate }}
      </p>
      <mat-card
        class="p-0 o-hidden"
        fxLayout="row wrap"
        c
        fxFlexAlign="center center"
      >
        <div
          fxLayout="row "
          fxLayoutAlign="space-around center"
          fxFlex="100"
          fxFlex.sm="100"
          fxFlex.md="40"
          fxFlex.lg="40"
        >
          <img
            src="assets/images/others/about--us.jpg"
            alt="about"
            class="mw-100 d-block"
          />
        </div>
        <div
          fxFlex="100"
          fxFlex.sm="100"
          fxFlex.md="60"
          fxFlex.lg="60"
          class="py-5 px-4"
        >
          <h1 class="secondary-font primary-color mb-2">
            {{ "ABOUT.DESC_1" | translate }}
          </h1>
          <p class="about-desc-2 mb-3">{{ "ABOUT.DESC_2" | translate }}</p>
          <p class="about-desc">
            {{ "ABOUT.DESC_3" | translate }}
          </p>
          <p class="about-desc">
            {{ "ABOUT.DESC_4" | translate }}
          </p>
        </div>
      </mat-card>
    </div>
  </div>
</div>
