
.table-responsive {
  text-align: center;
  display: block;
  width: 100%;
  overflow-x: auto;
  padding: 15px 0px;
}
.cat-btn {
  white-space: nowrap;
  border: 1px solid #9F1E34;
  color: #9F1E34;
  border-radius: 25px;
  font-size    : 13px !important;
  font-weight: 900;
}
.scroll-margin-top{
  scroll-margin-top:75px
}

