<div class="px-3">
  <div class="theme-container">
    <mat-card class="menu-single p-3">
      <div *ngIf="menuItem" fxLayout="row wrap" class="flex-wrapper">
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-3">
          <img [src]="menuItem.image" class="w-100" />
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" class="px-3">
          <h1 class="secondary-font">{{ menuItem.name }}</h1>
          <h1 *ngIf="!menuItem.discount" class="primary-color py-3">
            {{ menuItem.price }}
          </h1>
          <h3>Ingredients</h3>
          <p>{{ menuItem.description }}</p>
        </div>
      </div>
    </mat-card>
  </div>
</div>
