.scroll-margin-top {
    scroll-margin-top: 70px !important;
}

@media screen and (min-width: 600px) {
    .about-desc {
        font-size: 18px;
    }
}

.about-desc-2 {
    font-size  : 30px;
    font-weight: 300;
    line-height: normal !important;

}